In [1]:
from pandas import pandas as pd
import numpy as np
from Lattes import Lattes
from Database import Database

In [2]:
#limit_1 = "limit 1"
limit_1 = " "

só_doutorandos = True

nome_tabelas = [
    #'ids_doutorandos_inicio_em_2014',
    #'financiamentos_doutorandos_2014',
    #'par_doutorandos_2014_sem_reposicao',
    #'dados_gerais',
    #'areas_conhecimento', 
    #'indicadores', 
    'indicadores_nomes', 
    'pagamentos', 
    'palavras_chave', 
    'publicacoes', 
    'vinculos', 
]

nome_colunas_apagar = [
    'id', 
    'sgl_pais', 
    'dt_atualizacao', 
    'cod_area', 
    'cod_nivel', 
    'dta_carga', 
    'erro',
    'nome',
    'uf', 
    'nomes_citacao', 
    'orcid', 
    'cpf', 'email', 'telefone', 'pais_nascimento', 'uf_nascimento',  
    'cidade_nascimento', 
    'pais', 'cep', 'cidade', 'bairro', 'ddd', 'ramal', 'fax', 'caixa_postal', 'home_page', 'e_mail', 
    'codigo_instituicao_empresa',
    'nome_instituicao_empresa',
    'codigo_orgao',
    'nome_orgao',
    'codigo_unidade',
    'nome_unidade',
    'logradouro_complemento',
    'Processo',
    'Beneficiário',
    'Categoria/Nível',
    'Programa CNPq',
    'Título do Projeto',
    'Plano Interno',
    'Fonte Recurso',
    'Natureza de Despesa',
    'Inicio Processo',
    'Término Processo',
    'Grande Área',
    'Área',
    'Subárea',
    'Instituição Origem',
    'Sigla UF Origem',
    'País Origem',
    'Instituição Destino',
    'Sigla Instituição Destino',
    'Sigla Instituição Macro',
    'Cidade Destino',
    'Sigla UF Destino',
    'Região',
    'País Destino',
    'Palavra Chave',
    'Instituição Origem',
    'Sigla UF Origem',
    'País Origem',
    'Instituição Destino',
    'Sigla Instituição Destino',
    'Sigla Instituição Macro',
    'Cidade Destino',
    'Sigla UF Destino',
    'Região',
    'País Destino',
    'Palavra Chave',
]

In [3]:
engine = Database.db_engine()
lista_colunas_restantes = []

In [4]:
x = 0
x_max = len(nome_tabelas)
for table_name in nome_tabelas:
    x += 1
    print(f'{x}/{x_max}: Fazendo tabela {table_name}.')
    try:
        sql = f"""
            select * from {table_name}
                inner join all_lattes
                    on CAST({table_name}.id as bigint) = all_lattes.id"""
        if só_doutorandos: sql = sql + F"""
                inner join ids_doutorandos_inicio_em_2014
                    on ids_doutorandos_inicio_em_2014.id = all_lattes.id
            {limit_1};
            """
        table = pd.read_sql(sql, engine)
    except:
        sql = f"select * from {table_name} {limit_1};"
        table = pd.read_sql(sql, engine)        
    table.drop(nome_colunas_apagar, axis='columns', inplace=True, errors='ignore')
    colunas_restantes = {
        'tabela': table_name,
        'colunas': list(table)
    }
    lista_colunas_restantes.append(colunas_restantes)
    table.to_pickle(f"./Tabelas/{table_name}.pickle")

1/5: Fazendo tabela indicadores_nomes.
2/5: Fazendo tabela pagamentos.
3/5: Fazendo tabela palavras_chave.

OperationalError: (psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: select * from palavras_chave  ;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
lista_colunas_restantes

In [ ]:
list(table)

In [ ]:
COPY (select * from contacts where age < 45) TO 'C:tmpyoung_contacts_db.csv'  WITH DELIMITER ',' CSV HEADER;